@model PWEB_AulasPraticas1.Models.PesquisaCursoViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

<a asp-action="Index" type="button" class="btn btn-secondary">Todos</a>
<a asp-action="Index" asp-route-disponivel="True" type="button" class="btn btn-success">Ativos</a>
<a asp-action="Index" asp-route-disponivel="False" type="button" class="btn btn-danger">Inativos</a>

<p>
    <a asp-action="Create" type="button" class="btn btn-info m-1">Create New</a>
</p>

<form asp-controller="Curso" asp-action="Search" method="post">
    Nome do Curso: <input asp-for="TextoAPesquisar" />
    <button type="submit" class="btn btn-dark m-1">Pesquisar</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().Disponivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().DescricaoResumida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().Requisitos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().IdadeMinima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().EmDestaque)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListaDeCursos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoResumida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requisitos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdadeMinima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmDestaque)
            </td>
                <td class="d-flex flex-column">
                    <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-primary btn-sm">Edit</a><br>
                    <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-primary btn-sm m-1">Details</a><br>
                    <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-primary btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
